<suite name="Suite" parallel="tests" thread-count="2">

    <listeners>
        <listener class-name="DemoBlaze.utilities.TestListener"/>
    </listeners>

    <test name="DemoBlaze Phone Tests">
        <classes>
            <class name="ProductTests.AddLaptopTest"/>
        </classes>
    </test>

    <test name="DemoBlaze Laptop Tests">
        <classes>
            <class name="ProductTests.AddPhoneTest"/>
        </classes>
    </test>

</suite>